<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify New Releases</title>
  <link rel="stylesheet" href="static/dist/css/new_release_style.css">
</head>
<body>
  <h1>Spotify New Album Release Details</h1>
  <div>
    <label for="select-album">Select an album:</label>
    <select id="select-album"></select>
  </div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h2 id="album-name"></h2>
      <p>Artist: <span id="artist-name"></span></p>
      <p>Release Date: <span id="release-date"></span></p>
      <p>Available in Countries: <span id="country-available"></span></p>
    </div>
  </div>
    <img id="album-image" src="" alt="Album Cover">
  </div>
</section>
<section id="chart-container">
  <h2>Country with Least New Releases Avaliable</h2>
  <!-- Horizontal Bar Chart -->
</section>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="static/js/app_new_release.js"></script> <!-- Link to the app.js file -->
</body>
</html>






